[Desktop Entry]
Version=1.0
Type=Application
Name=ReleaseSigningTester
GenericName=ReleaseSigningTester
Comment=Test application for release signing
Exec=ReleaseSigningTester %F
Icon=rst
Terminal=false
Categories=Utility;Development;
Name[en_US]=rst.desktop
